<h1 class="lead">AngularJS GitHub Ebook</h1>

<select ng-model="selectedCategory" ng-options="item.category as item.category for item in data.categories" ng-change="updateEbook(selectedCategory)">>
    <option value="">Select Category</option>
</select>

<div class="well" ng-show="data.ebooks != null">
  <table border="0" class="span12 table table-condensed" style="margin-left:0px" id="tblData">
    <thead>  
      <tr>
        <th>Title</th>
        <th>Description</th>
      </tr>
  </thead>
  <tbody id="allRows">
  <tr ng-controller="ebookController" ng-mouseover="showImageBook(ebook)"  ng-mouseleave="hideImageBook(ebook)" ng-repeat="ebook in data.ebooks  | filter:selectedCategory" ng-style="myStyle"  ng-class="highlightclass" ng-mouseenter="highlightclass='highlight'" ng-mouseleave="highlightclass=''">
    <td title="{{ebook.SubTitle}}" ng-click="myStyle={'background-color':'#cccccc'};">{{ebook.Title}} <br><img ng-src="{{img}}" alt="Description" > </td>
    <td>{{ebook.Description}}</td>
  </tr>
</tbody>
</table>
</div>